<%-include('./header.ejs')%>
<body>
    <table>
        <tr>
            <td>姓名</td>
            <td>年龄</td>
            <td>班级</td>
            <td>性别</td>
        </tr>
        <tr>
            <td><%=student.stuName%></td>
            <td><%=student.age%></td>
            <td><%=student.banji.className%></td>
            <td><%=student.isMale?'男':'女'%></td>
        </tr>
    </table>
</body>
</html>